body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #f0f8ff, #ffffff);
  color: #333;
}

header {
  background-color: #007acc;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #005f99;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav a:hover,
nav a.activo {
  background-color: #003f66;
  border-radius: 5px;
}

main {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

footer {
  background-color: #003f66;
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
}
